@keyframes logoDown {
    from {
        top: -750px;
    }
    to {
        top: -96px;
    }
}

@keyframes pipeMove {
    from {
        left: 100%;
    }
    to {
        left: -80px;
    }
}

@keyframes marioJump {
    0% {
        bottom: 100px;
    }
    40% {
        bottom: 220px;
        animation-timing-function: ease-in;
    }
    50% {
        bottom: 230px;
    }
    60% {
        bottom: 220px;
        animation-timing-function: ease-out;
    }
    100% {
        bottom: 100px;
    }
}

@keyframes cloudsA {
    from {
        right: -330px;
    }
    to {
        right: 100%;
    }
}

@keyframes game-overA {
    from {
        top: -750px;
    }
    to {
        top: 0;
        animation-timing-function: ease-out;
    }
}

@keyframes blink {
    from {
        transform: scale(1.1);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0.1;
    }
}

@keyframes groundMove {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100rem 0;
    }
}

