@keyframes logoDown {
    from {
        top: -750px;
    }
    to {
        top: -96px;
    }
}

@keyframes walkPipe {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes marioJump {
    0% {
        bottom: 100px;
    }
    40% {
        bottom: 220px;
        animation-timing-function: ease-in;
    }
    50% {
        bottom: 230px;
    }
    60% {
        bottom: 220px;
        animation-timing-function: ease-out;
    }
    100% {
        bottom: 100px;
    }
}

@keyframes cloudsA {
    from {
        right: -330px;
    }
    to {
        right: 100%;
    }
}

@keyframes game-overA {
    from {
        top: -750px;
    }
    to {
        top: 0;
        animation-timing-function: ease-out;
    }
}

@keyframes blink {
    from {
        transform: scale(1.1);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0.1;
    }
}

@keyframes moveGround {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 black;
    }
    100% {
        box-shadow: 5px 5px 0 0 black;
        transform: translate(-5px, -5px);
    }
}
