@import "./animations.css";

.main-menu {
    background-image: url(../images/menu-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#audio-on-off {
    position: absolute;
    top: 5em;
    right: 10em;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}

.menu-logo {
    animation: logoDown 2s ease;
    bottom: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-logo-mario {
    font-size: 8em;
    color: red;
}

#menu-logo-jump {
    font-size: 7em;
    color: #0073ff;
}

.menu-options {
    background-image: url(../images/parchment.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: 3em;
    gap: 2em;
}

.menu-options .menu-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 70%;
}

.menu-options .menu-item img {
    left: 9em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-options .menu-item:hover img {
    visibility: visible;
    opacity: 1;
}

.game-board {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#0096ff, #ffefef);
}

.game-board-info {
    display: flex;
    justify-content: space-between;
}

.game-board-info .standard {
    display: flex;
}

.game-board-info .best-score {
    display: none;
}

.score,
.time,
.best-score {
    margin: 0.5em;
    color: white;
    font-size: 38px;
    z-index: 10;
}

.clouds {
    position: absolute;
    top: 20px;
    animation: cloudsA 35s infinite linear;
}

.pipe {
    position: absolute;
    bottom: 8vh;
    animation: pipeMove 2s infinite linear;
}

.mario {
    position: absolute;
    bottom: 8.5vh;
}

.jump {
    animation: marioJump 0.5s ease-out;
}

.ground {
    background-image: url("../images/ground.webp");
    background-size: auto 100%;
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100rem;
    animation: groundMove 6s linear infinite;
}

.game-board-timer {
    align-items: center;
    justify-content: center;
    font-size: 120px;
    color: white;
    font-weight: 600;
    display: none;
}

.game-board-game-over {
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    animation: game-overA 2s;
}

.game-over-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over-return-btn {
    margin-top: 5em;
}

.game-over-return-btn button {
    width: 100%;
}

.game-board-pause {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#pause {
    font-size: 150px;
    font-weight: 900;
}

#pause-text {
    font-size: 60px;
    font-weight: 500;
}
