@import "./animations.css";

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 12px solid hsl(113, 59%, 45%);
    margin: 60px auto;
    overflow: hidden;
    background: linear-gradient(#0096ff, #ffefef);
}

.pipe {
    position: absolute;
    bottom: 0;
    animation: walkPipe 2s infinite linear;
}

.mario {
    position: absolute;
    bottom: 0;
}

.jump {
    animation: marioJump .5s ease-out;
}

.clouds {
    position: absolute;
    top: 20px;
    animation: cloudsA 25s infinite linear;
}

.game-over {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    animation: game-overA 2s ;
}

p {
    font-size: 20px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    animation: blink 1.8s infinite linear;
}




